<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Get​ ​Stack​ ​Overflow​ ​posts</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/simply-toast.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Get​ ​Stack​ ​Overflow​ ​posts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" onsubmit="return false">
            <div>
                <button name="btnLogin" id="btnLogin" class="btn btn-outline-success my-2 mr-sm-1" type="button" onclick="document.location.href='authorize'">Get my account id(using OAuth2)</button>
                <input name="uid" id="uid" class="form-control mr-sm-1" type="text" placeholder="Stack​ ​Overflow​ ​user​ ​ID" aria-label="Get user posts" value="{{uid}}">
                <button name="btnGetPosts" id="btnGetPosts" class="btn btn-outline-success my-2 my-sm-0" type="button">Get user posts</button>
                <input name="querypos" id="querypos" class="form-control mr-sm-2" type="hidden">
            </div>
        </form>
    </div>
</nav>

<main role="main" class="container">
    <div class="mainform">
        <h1>Get​ ​Stack​ ​Overflow​ ​posts</h1>

        <div name="posts" id="posts">
        </div>

        <div class="row controls">
            <button name="btnLoadMore" id="btnLoadMore" class="btn btn-outline-success my-2 my-sm-0" type="button">Load more</button>
        </div>
    </div>
</main><!-- /.container -->

<div name="post_template" id="post_template" style="display:none;">
    <div class="row">
        <div class="col-lg-2 col-md-3 owner">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 profile_image"><img src=""></div>
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 display_name">Name</div>
            </div>
        </div>
        <div class="col-lg-10 col-md-9 post">
            <div class="row">
                <div class="col-md-2 post_type">Type</div>
                <div class="col-md-10 title">Title</div>
            </div>
            <div class="row">
                <div class="col-md-12 body">Overview</div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="static/js/script.js"></script>
<script src="static/js/simply-toast.min.js"></script>
</body>
</html>
